.ipynb_checkpoints
__pycache__
_build
_book
.Rproj.user
.quarto/
.vscode/
_site/
_static/

zeckenstiche-full.csv
zeckenstiche.gpkg

/.quarto/
_book/

*_files/
data/

.Rhistory

present-exercises.css

*.html

