/* the default dark style has a white color on white background */
kbd {
    color: #212529
}

/* to compare loops and list comprehensions*/
.grp1 {
    background-color: #f1c232
}

.grp2 {
    background-color: #3d85c6
}

.grp3 {
    background-color: #e69138
}

.grp4 {
    background-color: #93c47d
}

.grp5 {
    background-color: #ead1dc
}

.padding-top-500 {
    padding-top: 500px;
}

.presenter-btn{
    background-color: gray;
}




